<div class="container">
  <h2>Edit <%= @pet.name %></h2>
  <%= render 'form', pet: @pet %>
</div>

<div class="container my-3">
  <%= link_to pet_path(@pet), class: 'btn btn-sm btn-success' do %>
    <i class="fa-solid fa-backward"></i>
  <% end %>
</div>
